/* NAVBAR BACKGROUND COLOR */
.container-fluid{
    background-color: black;
    height: 65px;
}


/* Login Logout Button */
button.btn{
    background-color: black;
    color: rgb(151, 150, 150);
    border-radius: 0%;
    margin-top: 10%;
}
button.btn:hover{
    color: white;
}
@media only screen and (max-width: 750px){
    button.btn{
        margin-top: 0%;
    }
}


/* First Page */
p.mob{
    text-align: center;
    text-decoration: solid;
    text-shadow: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
div.logo{
    padding: 5%;
    text-align: center;
    width: 100%;
    height: auto;
}
.imgmobile{
    display: none;
}
p.mob{
    display: none;
}
@media only screen and (max-width: 750px) {
    div.logo {
      padding: 0%;
      margin: 0%;
      padding-bottom: 25%;
      padding-top: 25%;
    }
    .imgfull{
        display: none;
    }
    .imgmobile{
        display: block;
    }
    p.mob{
        display: inline;
    }
  }


/* FOOTER */
div.footer{
    margin-bottom: 0%;
    position: static;
}
div.footer1{
    margin-bottom: 0%;
    position: fixed;
}
div.f1 {
	width: 50%;
    float: left;
}
div.f2 {
	width: 50%;
	float: right;
}
p.linkfooter{
	text-decoration: none;
    font-weight: bold;
    
}
a.footerlink{
    color: white;
}
.footer {
	position: bottom;
	padding-top: 20px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 140px;
	background-color:#0C090A;
	color: white;
	text-align: center;
  }
  .footer1 {
	position: bottom;
	padding-top: 20px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color:#0C090A;
	color: white;
	text-align: center;
  }
.first {
	font-size: 16px;
  }
  span.fl{
    display: inline;
    text-align: center;
    font-size: 14px;
}
p.abouttxt{
    text-align: center;
    color: black;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}


/* EMERGENCY TABLE*/
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}
tr:hover{
    background-color: #f5f5f5;
}

/* About Page */
/*div.abcd{
    display: flex;
    margin-bottom: 5%;
}*/
/*div.us {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: arial;
}*/
@media only screen and (max-width: 750px){
    div.abcd{
        display: block;
    }
    div.us{
        width: 90%;
    }
}
.title {
  color: grey;
  font-size: 14px;
}
p.clg{
  font-size: 12px;;
}
button:hover, a:hover {
  opacity: 0.7;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: black;
  }
p.team{
    text-align: center;
    text-decoration: black;
    font-weight: bolder;
    font-size: 30px;
}

/* For Modify and Delete Page */
/* Construction Error */
div.construction{
    text-align: center;
    font-size: xx-large;
    padding: 20%;
}
